/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'suus';
@reset      : 'suus';

/* Elements */
@button     : 'suus';
@container  : 'suus';
@divider    : 'suus';
@emoji      : 'suus';
@flag       : 'suus';
@header     : 'suus';
@icon       : 'suus';
@image      : 'suus';
@input      : 'suus';
@label      : 'suus';
@list       : 'suus';
@loader     : 'suus';
@placeholder: 'suus';
@rail       : 'suus';
@reveal     : 'suus';
@segment    : 'suus';
@step       : 'suus';
@text       : 'suus';

/* Collections */
@breadcrumb : 'suus';
@form       : 'suus';
@grid       : 'suus';
@menu       : 'suus';
@message    : 'suus';
@table      : 'suus';

/* Modules */
@accordion  : 'suus';
@calendar   : 'suus';
@checkbox   : 'suus';
@dimmer     : 'suus';
@dropdown   : 'suus';
@embed      : 'suus';
@modal      : 'suus';
@nag        : 'suus';
@popup      : 'suus';
@progress   : 'suus';
@slider     : 'suus';
@rating     : 'suus';
@search     : 'suus';
@shape      : 'suus';
@sidebar    : 'suus';
@sticky     : 'suus';
@tab        : 'suus';
@toast      : 'suus';
@transition : 'suus';

/* Views */
@ad         : 'suus';
@card       : 'suus';
@comment    : 'suus';
@feed       : 'suus';
@item       : 'suus';
@statistic  : 'suus';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";

/* End Config */
